payload/**/*.exe
payload/**/*.msi
payload/**/*.appx
payload/**/*.appxbundle
payload/**/*.msix
payload/**/*.msixbundle
payload/**/*.BlockMap
payload/**/*.ttf
payload/**/*.ttc
payload/**/*.otf
payload/DirectX/*.cab
payload/DirectX/*.dll
!payload/**/.gitkeep
!payload/Office2016Mondo/configuration.xml
